{% extends 'base.html' %}


{% block content %}

    <div class="container text-center mt-5">
        <h2>Ali Onur Tepeciklioğlu - Bulut Bilişim Dersi Proje Ödevi</h2>


        <div class="row justify-content-center mt-3">
            <div class="col-auto">
                <a href="https://github.com/alionur84" target="_blank"><img src="../static/images/github-logo.png" alt="GitHub" class="img-fluid" width="70" height="70"></a>
            </div>
            <div class="col-auto">
                <a href="https://twitter.com/alionurtepe" target="_blank"><img src="../static/images/twitter-logo.png" alt="Twitter" class="img-fluid" width="70" height="70"></a>
            </div>
        </div>
        <hr>
        <h2 class="mt-5">Kullanılan Teknolojiler:</h2>
        <div class="row justify-content-center mt-3">
            <div class="col-md-4">
                <img src="../static/images/python-logo.png" alt="Python" class="img-fluid" width="70" height="70">
                <span class="align-middle">Python</span>
            </div>
            <div class="col-md-4">
                <img src="../static/images/urllib3-logo.png" alt="urllib3" class="img-fluid" width="70" height="70">
                <span class="align-middle">urllib3</span>
            </div>
            <div class="col-md-4">
                <img src="../static/images/beautifulsoup-logo.jpg" alt="Beautiful Soup" class="img-fluid" width="70" height="70">
                <span class="align-middle">Beautiful Soup</span>
            </div>
            <div class="col-md-4">
                <img src="../static/images/sklearn.png" alt="scikit-learn" class="img-fluid" width="70" height="70">
                <span class="align-middle">scikit-learn</span>
            </div>
            <div class="col-md-4">
                <img src="../static/images/flask-logo.png" alt="Flask" class="img-fluid" width="70" height="70">
                <span class="align-middle">Flask</span>
            </div>
            <div class="col-md-4">
                <img src="../static/images/aws-logo.png" alt="AWS Lambda" class="img-fluid" width="70" height="70">
                <span class="align-middle">AWS Lambda</span>
            </div>
            <div class="col-md-4">
                <img src="../static/images/vertex-ai.png" alt="Google Vertex AI" class="img-fluid" width="70" height="70">
                <span class="align-middle">Google Vertex AI</span>
            </div>
        </div>
    </div>

{% endblock %}